
 {{> title header='Завдання 1' description='Зробіть елемент .task1 сітковим блочним контейнером'}} 

<div class="wrapper">
  <img src="img/div.container.png"/>
  <div class="container">
    <div class='task1 task'>
      Grid lesson
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div> 
<div class="box"><pre>.task1 {
  display: grid;
}<br></pre></div>


{{> title header='Завдання 2' description='Зробіть елемент .task2 сітковим рядковим контейнером'}} 
<div class="wrapper">
  <img src="img/div.container-1.png"/>
  <div class="container">
    <div class='task2 task'>
      Grid lesson
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task2 {
  display: inline-grid;
}<br></pre></div> 

 {{> title header='Завдання 3' description='Для елемента .task3 встановіть відступи між елементами .item 25рх між рядками та 10рх між колонками'}} 
<div class="wrapper">
  <img src="img/div.container-2.png"/>
  <div class="container">
    <div class='task3 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task3 {
  display: grid;
  /* row-gap: 25px;
  column-gap: 10px; */
  gap: 25px 10px;
}<br></pre></div>

 {{> title header='Завдання 4' description='Для елемента .task4 виведіть елементи .item в порядку показаному на картинці'}} 
<div class="wrapper">
  <img src="img/div.container-3.png"/>
  <div class="container">
    <div class='task4 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task4 {
  display: grid;
}
.task4 .item2 {
  order: 5;
}
.task4 .item4 {
  order: 4;
}
.task4 .item3 {
  order: 6;
}<br></pre></div>

 {{> title header='Завдання 5' description='Для елемента .task5 розмістіть елементи .item на початку першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-4.png"/>
  <div class="container">
    <div class='task5 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task5 {
  display: grid;
  justify-content: flex-start;
  /* justify-content: start; */
}<br></pre></div>

 {{> title header='Завдання 6' description='Для елемента .task6 розмістіть елементи .item в кінці першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-5.png"/>
  <div class="container">
    <div class='task6 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task6 {
  display: grid;
  justify-content: flex-end;
  /* justify-content: end; */
}<br></pre></div>

 {{> title header='Завдання 7' description='Для елемента .task7 розмістіть елементи .item по центру першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-6.png"/>
  <div class="container">
    <div class='task7 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task7 {
  display: grid;
  justify-content: center;
}<br></pre></div>

 {{> title header='Завдання 8' description='Для елемента .task8 розмістіть елементи .item рівномірно без відступів від країв по першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-7.png"/>
  <div class="container">
    <div class='task8 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task8 {
  display: grid;
  justify-content: space-between;
}<br></pre></div>

 {{> title header='Завдання 9' description='Для елемента .task9 розмістіть елементи .item з однаковими відстанями між ними та з меншим відступом від країв контейнера по першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-8.png"/>
  <div class="container">
    <div class='task9 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task9 {
  display: grid;
  justify-content: space-around;
}<br></pre></div>

 {{> title header='Завдання 10' description='Для елемента .task10 розмістіть елементи .item рівномірно по першій лінії з однаковими відстанями між елементами та країв блоку'}} 
<div class="wrapper">
  <img src="img/div.container-9.png"/>
  <div class="container">
    <div class='task10 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task10 {
  display: grid;
  justify-content: space-evenly;
}<br></pre></div>

 {{> title header='Завдання 11' description='Для елемента .task11 розмістіть елементи .item так щоб вони заповнили всю першу линію'}} 
<div class="wrapper">
  <img src="img/div.container-10.png"/>
  <div class="container ">
    <div class='task11 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task11 {
  display: grid;
  justify-content: stretch;
}<br></pre></div>

 {{> title header='Завдання 12' description='Для елемента .task12 розмістіть елементи .item на початку другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-11.png"/>
  <div class="container  ">
    <div class='task12 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task12 {
  display: grid;
  align-content: flex-start;
  /* align-content: start; */
}<br></pre></div>

 {{> title header='Завдання 13' description='Для елемента .task13 розмістіть елементи .item в кінці другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-12.png"/>
  <div class="container ">
    <div class='task13 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task13 {
  display: grid;
  align-content: flex-end;
  /* align-content: end; */
}<br></pre></div>

 {{> title header='Завдання 14' description='Для елемента .task14 розмістіть елементи .item по центру другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-13.png"/>
  <div class="container ">
    <div class='task14 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task14 {
  display: grid;
  align-content: center;
}<br></pre></div>

 {{> title header='Завдання 15' description='Для елемента .task15 розмістіть елементи .item так щоб вони заповнили всю другу линію'}} 
<div class="wrapper">
  <img src="img/div.container-14.png"/>
  <div class="container ">
    <div class='task15 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task15 {
  display: grid;
  align-content: stretch;
}<br></pre></div>

 {{>  title header='Завдання 16' description='Для елемента .task16 розмістіть елементи .item рівномірно без відступів від країв по другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-15.png"/>
  <div class="container ">
    <div class='task16 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task16 {
  display: grid;
  align-content: space-between;
}<br></pre></div>

 {{>  title header='Завдання 17' description='Для елемента .task17 розмістіть елементи .item з однаковими відстанями між ними та з меншим відступом від країв контейнера по другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-16.png"/>
  <div class="container ">
    <div class='task17 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task17 {
  display: grid;
  align-content: space-around;
}<br></pre></div>

 {{>  title header='Завдання 18' description='Для елемента .task18 розмістіть елементи .item рівномірно по другій лінії з однаковими відстанями між елементами та країв блоку'}} 
<div class="wrapper">
  <img src="img/div.container-17.png"/>
  <div class="container ">
    <div class='task18 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task18 {
  display: grid;
  align-content: space-evenly;
}<br></pre></div>

 {{>  title header='Завдання 19' description='Для елемента .task19 розмістіть елементи .item на початку першої лінії та по центру другїй лінії'}} 
<div class="wrapper">
  <img src="img/div.container-18.png"/>
  <div class="container ">
    <div class='task19 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task19 {
  display: grid;
  justify-content: flex-start;
  /* justify-content: start; */
  align-content: center;
}<br></pre></div>

 {{> title header='Завдання 20' description='Для елемента .task20 вирівняйте елементи .item на початку першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-19.png"/>
  <div class="container  ">
    <div class='task20 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task20 {
  display: grid;
  justify-items: flex-start;
  /* justify-items: start; */
}<br></pre></div>

 {{> title header='Завдання 21' description='Для елемента .task21 вирівняйте елементи .item в кінці першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-20.png"/>
  <div class="container ">
    <div class='task21 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task21 {
  display: grid;
  justify-items: flex-end;
  /* justify-items: end; */
}<br></pre></div>

 {{> title header='Завдання 22' description='Для елемента .task22 вирівняйте елементи .item по центру першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-21.png"/>
  <div class="container ">
    <div class='task22 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task22 {
  display: grid;
  justify-items: center;
}<br></pre></div>

 {{> title header='Завдання 23' description='Для елемента .task23 вирівняйте елементи .item так щоб вони заповнили всю першу линію'}} 
<div class="wrapper">
  <img src="img/div.container-22.png"/>
  <div class="container ">
    <div class='task23 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task23 {
  display: grid;
  justify-items: stretch;
}<br></pre></div>

 {{> title header='Завдання 24' description='Для елемента .task24 вирівняйте елементи .item на початку другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-23.png"/>
  <div class="container">
    <div class='task24 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task24 {
  display: grid;
  align-items: flex-start;
  /* align-items: start; */
}<br></pre></div>

 {{> title header='Завдання 25' description='Для елемента .task25 вирівняйте елементи .item в кінці другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-24.png"/>
  <div class="container">
    <div class='task25 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task25 {
  display: grid;
  align-items: flex-end;
  /* align-items: end; */
}<br></pre></div>

 {{> title header='Завдання 26' description='Для елемента .task26 вирівняйте елементи .item по центру другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-25.png"/>
  <div class="container">
    <div class='task26 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task26 {
  display: grid;
  align-items: center;
}<br></pre></div>

 {{> title header='Завдання 27' description='Для елемента .task27 вирівняйте елементи .item так щоб вони заповнили всю першу линію'}} 
<div class="wrapper">
  <img src="img/div.container-26.png"/>
  <div class="container">
    <div class='task27 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task27 {
  display: grid;
  align-items: stretch;
}<br></pre></div>

 {{> title header='Завдання 28' description='Для елемента .task28 вирівняйте елементи .item по тексту на другій линії'}} 
<div class="wrapper">
  <img src="img/div.container-27.png"/>
  <div class="container">
    <div class='task28 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item item3'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task28 {
  display: grid;
  align-items: baseline;
}<br></pre></div>

 {{>  title header='Завдання 29' description='Для елемента .task29 вирівняйте елементи .item по центру першої лінії та розтяніть по другїй лінії'}} 
<div class="wrapper">
  <img src="img/div.container-28.png"/>
  <div class="container ">
    <div class='task29 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task29 {
  display: grid;
  justify-items: center;
	align-items: stretch;
	}<br></pre></div>

 {{>  title header='Завдання 30' description='Для елемента .task30 вирівняйте елемент .item1 по початку першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-29.png"/>
  <div class="container ">
    <div class='task30 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task30 {
  display: grid;
}
.task30 .item1 {
  justify-self: flex-start;
  /* justify-self: start; */
}<br></pre></div>

 {{>  title header='Завдання 31' description='Для елемента .task31 вирівняйте елемент .item2 по краю першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-30.png"/>
  <div class="container ">
    <div class='task31 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task31 {
  display: grid;
}
.task31 .item2 {
  justify-self: flex-end;
  /* justify-self: end; */
}<br></pre></div>

 {{>  title header='Завдання 32' description='Для елемента .task32 вирівняйте елемент .item3 по центру першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-31.png"/>
  <div class="container ">
    <div class='task32 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task32 {
  display: grid;
}
.task32 .item3 {
  justify-self: center;
}<br></pre></div>

 {{>  title header='Завдання 33' description='Для елемента .task33 розтяніть елемент .item4 по першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-32.png"/>
  <div class="container ">
    <div class='task33 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task33 {
  display: grid;
}
.task33 .item4 {
  justify-self: stretch;
}<br></pre></div>

 {{>  title header='Завдання 34' description='Для елемента .task34 вирівняйте елемент .item1 по початку другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-33.png"/>
  <div class="container ">
    <div class='task34 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task34 {
  display: grid;
}
.task34 .item1 {
  align-self: flex-start;
  /* align-self: self-start; */
}<br></pre></div>

 {{>  title header='Завдання 35' description='Для елемента .task35 вирівняйте елемент .item2 по краю другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-34.png"/>
  <div class="container ">
    <div class='task35 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task35 {
  display: grid;
}
.task35 .item2 {
  align-self: flex-end;
  /* align-self: self-end; */
}<br></pre></div>

 {{>  title header='Завдання 36' description='Для елемента .task36 вирівняйте елемент .item3 по центру другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-35.png"/>
  <div class="container ">
    <div class='task36 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task36 {
  display: grid;
}
.task36 .item3 {
  align-self: center;
}<br></pre></div>

 {{>  title header='Завдання 37' description='Для елемента .task37 розтяніть елемент .item4 по другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-36.png"/>
  <div class="container ">
    <div class='task37 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task37 {
  display: grid;
}
.task37 .item4 {
  align-self: stretch;
}<br></pre></div>

 {{>  title header='Завдання 38' description='Для елемента .task38 вирівняйте елемент .item5 по початку першої лінії,та по центру другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-37.png"/>
  <div class="container ">
    <div class='task38 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task38 {
  display: grid;
}
.task38 .item5 {
  place-self: center flex-start;
  /* place-self: center start; */
}<br></pre></div>

{{> title header='Завдання 39' description='Для елемента .task39 розмістіть елементи .item в три рядки з відношенням розмірів 1/2/3'}} 
<div class="wrapper">
  <img src="img/div.container-38.png"/>
  <div class="container">
    <div class='task39 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task39 {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
}<br></pre></div>

{{> title header='Завдання 40' description='Для елемента .task40 розмістіть елементи .item в два стовпці з розміром по контенту але не більше 30% та 70% відповідно'}} 
<div class="wrapper">
  <img src="img/div.container-39.png"/>
  <div class="container">
    <div class='task40 task'>
      <div class='item'>
        1 2 3 4 5 
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5 
      </div>
      <div class='item'>
          6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task40 {
  display: grid;
  grid-template-columns: fit-content(30%) fit-content(70%);
  /* grid-template-columns: minmax(0, 30%) minmax(0, 70%); */
}<br></pre></div>

{{> title header='Завдання 41' description='Для елемента .task41 розмістіть елементи .item в три рядки з розмірами від 110px до 30% ,та два стовпці з однаковим відношенням розмірів (використовуйте функцію поторення)'}} 
<div class="wrapper">
  <img src="img/div.container-40.png"/>
  <div class="container">
    <div class='task41 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task41 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(110px, 30%));
}<br></pre></div>

{{> title header='Завдання 42' description='Для елемента .task42 використовуючи шаблон області розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-41.png"/>
  <div class="container">
    <div class='task42 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task42 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.task42 .item1 {
  grid-column: 1;
  grid-row: 1 / 3;
}
.task42 .item2 {
  grid-column: 2;
  grid-row: 1;
}
.task42 .item3 {
  grid-column: 2;
  grid-row: 2;
}
.task42 .item4 {
  grid-column: 1;
  grid-row: 3 / 5;
}
.task42 .item5 {
  grid-column: 2;
  grid-row: 3;
}
.task42 .item6 {
  grid-column: 2;
  grid-row: 4;
}<br></pre></div> 

{{> title header='Завдання 42bis' description='Для елемента .task42bis використовуючи шаблон області розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-41.png"/>
  <div class="container">
    <div class='task42bis task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task42bis {
  display: grid;
  grid-template-areas:
    'a c'
    'a d'
    'b e'
    'b f';
}
.task42bis .item1 {
  grid-area: a;
}
.task42bis .item2 {
  grid-area: c;
}
.task42bis .item3 {
  grid-area: d;
}
.task42bis .item4 {
  grid-area: b;
}
.task42bis .item5 {
  grid-area: e;
}
.task42bis .item6 {
  grid-area: f;
}<br></pre></div> 

{{> title header='Завдання 42bis2' description='Для елемента .task42bis2 використовуючи шаблон області розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-41.png"/>
  <div class="container">
    <div class='task42bis2 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task42bis2 {
  display: grid;
}
.task42bis2 .item1 {
  grid-row: 1 / 3;
}
.task42bis2 .item2 {
  grid-row: 1 / 2;
}
.task42bis2 .item3 {
  grid-row: 2 / 3;
}
.task42bis2 .item4 {
  grid-row: 3 / 5;
}
.task42bis2 .item5 {
  grid-row: 3 / 4;
}
.task42bis2 .item6 {
  grid-row: 4 / 5;
}<br></pre></div> 

{{> title header='Завдання 42bis3' description='Для елемента .task42bis3 використовуючи шаблон області розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-41.png"/>
  <div class="container">
    <div class='task42bis3 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task42bis3 {
	display: grid;
}
.task42bis3 .item1 {
  /* grid-row: 1 / 3; */
  /* grid-column: 1 / 2; */
  grid-area: 1 / 1 / 3 / 2;
}
.task42bis3 .item2 {
  /* grid-row: 1 / 2; */
  /* grid-column: 2 / 3; */
  grid-area: 1 / 2 / 2 / 3;
}
.task42bis3 .item3 {
  /* grid-row: 2 / 3; */
  /* grid-column: 2 / 3; */
  grid-area: 2 / 2 / 3 / 3;
}
.task42bis3 .item4 {
  /* grid-row: 3 / 5; */
  /* grid-column: 1 / 2; */
  grid-area: 3 / 1 / 5 / 2;
}
.task42bis3 .item5 {
  /* grid-row: 3 / 4; */
  /* grid-column: 2 / 3; */
  grid-area: 3 / 2 / 4 / 3;
}
.task42bis3 .item6 {
  /* grid-row: 4 / 5; */
  /* grid-column: 2 / 3; */
  grid-area: 4 / 2 / 5 / 3;
}<br></pre></div> 

{{> title header='Завдання 43' description='Для елемента .task43 використовуючи стовпці сітки розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-42.png"/>
  <div class="container">
    <div class='task43 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task43 {
  display: grid;
}
.task43 .item3 {
  grid-column: 1 / 3;
}<br></pre></div> 

{{> title header='Завдання 44' description='Для елемента .task44 використовуючи рядки сітки розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-43.png"/>
  <div class="container">
    <div class='task44 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task44 {
  display: grid;
}
.task44 .item3 {
  grid-row: 1 / 3;
}<br></pre></div> 

{{> title header='Завдання 45' description='Для елемента .task45 використовуючи область сітки розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-44.png"/>
  <div class="container">
    <div class='task45 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task45 {
  display: grid;
}
.task45 .item3 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}<br></pre></div> 

{{> title header='Завдання 46' description='Для елемента .task46 використовуючи автоматичні стовпці, розмістіть елементи .item в два стовпці, ширина першого має бути відповідною до мінімального вмісту елементів, а другого максимальною'}} 
<div class="wrapper">
  <img src="img/div.container-45.png"/>
  <div class="container">
    <div class='task46 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2 2 2 2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        55 5 5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task46 {
  display: grid;
  grid-template-columns: min-content max-content;
}<br></pre></div> 

{{> title header='Завдання 47' description='Для елемента .task47 використовуючи автоматичні рядки, розмір яких має бути відповідним до мінімального вмісту елементів'}} 
<div class="wrapper">
  <img src="img/div.container-46.png"/>
  <div class="container">
    <div class='task47 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task47 {
  display: grid;
  grid-template-rows: min-content;
  /* grid-template-rows: auto; */
}<br></pre></div> 

{{> title header='Завдання 48' description='Для елемента .task48 використовуючи автоматичне розміщення, розмістіть елементи по рядкам'}} 
<div class="wrapper">
  <img src="img/div.container-47.png"/>
  <div class="container">
    <div class='task48 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task48 {
  display: grid;
  grid-auto-flow: row;
}<br></pre></div> 

{{> title header='Завдання 49' description='Для елемента .task49 використовуючи автоматичне розміщення, розмістіть елементи по стовбцям'}} 
<div class="wrapper">
  <img src="img/div.container-48.png"/>
  <div class="container">
    <div class='task49 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task49 {
  display: grid;
  grid-auto-flow: column;
}<br></pre></div> 

{{> title header='Завдання 50' description='Для елемента .task50 використовуючи автоматичне розміщення, розмістіть елементи якомога ближче один до одного, заповнюючи всі можливі проміжки'}} 
<div class="wrapper">
  <img src="img/div.container-49.png"/>
  <div class="container">
    <div class='task50 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task50 {
  display: grid;
  grid-auto-flow: dense;
}<br></pre></div> 

{{> title header='Завдання 51' description='Для елемента .task51 автоматично згенеруйте стовбці з широную від 100px до 1fr, зберігаючи мінімальній розмір'}} 
<div class="wrapper">
  <img src="img/div.container-50.png"/>
  <div class="container">
    <div class='task51 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task51 {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  );
}<br></pre></div> 

{{> title header='Завдання 52' description='Для елемента .task52 автоматично згенеруйте стовбці з широную від 100px до 1fr, з повним заповненням простору'}} 
<div class="wrapper">
  <img src="img/div.container-51.png"/>
  <div class="container">
    <div class='task52 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>
<div class="box"><pre>.task52 {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  );
}<br></pre></div> 
